/*=== Новости ===*/
div.experts{width: 514px;}
div.experts_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #03409b;}
a.experts_header_link {text-decoration: none;}
a:hover.experts_header_link {text-decoration: underline;}

div.experts_line { width: 514px; height: 3px; background-color: #03409b;}

div.experts_item {padding: 20px; background-color: #eae9e3;}

div.experts_text { font-size: 14px; font-family: Times, Tahoma; line-height: 19px; color: #565347; }

div.experts_date { font-size: 14px; font-family: Georgia, Tahoma; color: #959595; }

a:link.experts_link, a:visited.experts_link, a:hover.experts_link { font-size: 14px; font-family: Georgia, Tahoma; text-decoration: underline; color: #0097ca; display: block;}
a:hover.experts_link { color: #8c8b88;}

div.experts_foto { width: 68px; margin-right: 22px; margin-bottom: 1px; float: left; background-image: url(/images/opinion_foto_border_middle.png); background-position: top left; background-repeat: repeat-y; display: inline;}
div.experts_foto_top { width: 68px; height: 4px; background-image: url(/images/opinion_foto_border_top.png); background-position: top left; background-repeat: no-repeat;}
img.experts_foto { margin-left: 4px; margin-right: 4px; border: 0px;}
div.experts_foto_bottom { width: 68px; height: 4px; background-image: url(/images/opinion_foto_border_bottom.png); background-position: top left; background-repeat: no-repeat;}
