/*=== Интервью детально ===*/
div.faq_list {width: 514px;}
div.faq_list_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #8c8b88;}
a.faq_list_header_link {text-decoration: none; color: #8c8b88;}
a:hover.faq_list_header_link {text-decoration: underline;}
div.faq_list_line { width: 514px; height: 3px; background-color: #8c8b88;}

div.faq_list_item {padding: 20px 20px 5px 20px; background-color: #fff;}

div.faq_list_text { font-size: 12px; font-family: Tahoma; line-height: 15px; color: #565347; }
div.faq_question { color: #ba0000; }
div.faq_ansver {  color: #565347; }


img.faq_list_bullet { margin-left: 0px; margin-right: 15px; border: 0px; float: left; display: inline;}
