/*=== Нижний футер ===*/
div.copyright {width: 400px; margin: 15px 0px 0px 37px; float: left; font-size: 11px; font-family: Tahoma; line-height: 14px; color: #545454;}

a:link.partners_link, a:visited.partners_link, a:hover.partners_link { font-size: 11px; text-decoration: underline; font-family: Tahoma; color: #03409b; display: block; font-weight: bold; margin-bottom: 7px;}
a:hover.partners_link { color: #3e7db5;}

div.phone {width: 250px; margin: 25px 0px 0px 37px; float: left; font-size: 11px; font-family: Tahoma; line-height: 14px; color: #545454;}

div.developed {width: 200px; margin: 35px 0px 0px 37px; float: right; font-size: 11px; font-family: Tahoma; line-height: 14px; color: #545454;}