/*=== Основной стиль ===*/
body, table { margin: 0px; font-size: 14px; font-family: 'Times New Roman', Times, Tahoma; line-height: 19px; color: #565347; background-color: #f9f8f3;}
a { color: #03409b;}
a:hover { color: #ff2a00; }
img { border: 0px;}
div.clear { clear: both; }
div.header_border { padding-top: 20px; }
div.content_title {height: 20px; margin-top: 20px; margin-bottom: 20px;}

H1, h1, H2, h2, H3, h3, H4, h4 {font-weight: normal;}
H1, h1 {font-size: 25px; }
H2, h2 {font-size: 20px; }
H3, h3 {font-size: 16px; }
H4, h4 {font-size: 14px; }


/*=== Шапка ===*/
div.header { width: 990px;}
.shadow_left { width: 50%; background-image: url(/images/shadow_left.gif); background-position: top right; background-repeat: repeat-y;}
.shadow_right { width: 50%; background-image: url(/images/shadow_right.gif); background-position: top left; background-repeat: repeat-y;}


/*=== Футер ===*/
div.footer { width: 990px; }
div.footer1 { height: 57px; background-image: url(/images/footer_bg1.gif); background-position: bottom left; background-repeat: repeat-x; background-color: #f9f8f3;}
div.footer2 { height: 350px; background-image: url(/images/footer_bg2.gif); background-position: bottom left; background-repeat: repeat-x; background-color: #f9f8f3;}
div.footer3 { height: 89px; background-image: url(/images/footer_bg3.gif); background-position: top left; background-repeat: repeat-x; background-color: #f7f6f3;}


/*=== Заголовок под шапкой ===*/
div.title_left_container {background-image: url(/images/title_bg.png); background-position: top left; background-repeat: no-repeat;}
div.title_right_container {background-image: url(/images/title_bg.png); background-position: top right; background-repeat: no-repeat;}


/*=== Структура ===*/
div.left_column {width: 240px; float: left;}
div.center_column {width: 514px; float: left;}
div.right_column {width: 236px; float: left;}


/*=== Задать вопрос ===*/
div.question_ban {margin-top: 15px;}


/*=== Партнёры ===*/
div.partners_banners {width: 670px; margin: 57px 0px 0px 24px; float: left;}
img.partners_banner {margin: 0px 12px 12px 12px; display: block; float: left;}

div.partners_text {width: 240px; margin: 57px 0px 0px 24px; float: left; font-size: 11px; font-family: Tahoma; line-height: 14px; color: #545454;}
a:link.partners_link, a:visited.partners_link, a:hover.partners_link { font-size: 11px; text-decoration: underline; font-family: Tahoma; color: #03409b; display: block; font-weight: bold; margin-bottom: 7px;}
a:hover.partners_link { color: #3e7db5;}


.calendar_text { filter:hyphenize("text-align:justify") }

