

.input input:not([type="submit"]):not([type="file"]),
.input textarea {
	display: block;
	width: 100%;
	color: inherit;
	font-size: 12px;
	background: #fff;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.5), inset 0 -2px 5px rgba(0,0,0,0.25);
	border-radius: 8px;
	border: 0; 
}
.input input:not([type="submit"]):not([type="file"]) {
	height: 36px;
	padding: 0 10px;
}
.input textarea {
	height: 140px;
	padding: 10px;
	resize: none;
	outline: 0;
}
.input.error input:not([type="submit"]):not([type="file"]),
.input.error textarea {
	border: 1px solid #ed1e24;
}

.input.submit {
	width: 100%;
	padding: 10px 0;
	text-align: center;
}
.input.submit input[type="submit"] {
	width: 100%;
	max-width: 320px;
	height: 36px;
	padding: 0 10px;
	color: #fff;
	font-size: 1rem;
	text-transform: uppercase;
	/*text-shadow: 1px 1px 0 rgba(0,0,0,0.5);*/
	background: #152169;
	background: -moz-linear-gradient(to bottom, #79abf5 0%,#3c3ce8 24%,#152169 47%,#221f6f 50%,#2b3ca5 100%);
	background: -webkit-linear-gradient(to bottom, #79abf5 0%,#3c3ce8 24%,#152169 47%,#221f6f 50%,#2b3ca5 100%);
	background: linear-gradient(to bottom, #79abf5 0%,#3c3ce8 24%,#152169 47%,#221f6f 50%,#2b3ca5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#235e1a', endColorstr='#245c1b',GradientType=0 );
	/*box-shadow: 3px 3px 1px rgba(0,0,0,0.2);*/
	border-radius: 8px;
	border: 0;
}
.input.submit input[type="submit"]:active {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.input.submit input[type="submit"]:disabled {
	background: #8d8d8d;
	background: -moz-linear-gradient(top,  #8d8d8d 0%, #9a9a9a 25%, #a5a5a5 44%, #8d8d8d 51%, #8d8d8d 100%);
	background: -webkit-linear-gradient(top,  #8d8d8d 0%,#9a9a9a 25%,#a5a5a5 44%,#8d8d8d 51%,#8d8d8d 100%);
	background: linear-gradient(to bottom,  #8d8d8d 0%,#9a9a9a 25%,#a5a5a5 44%,#8d8d8d 51%,#8d8d8d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8d8d', endColorstr='#8d8d8d',GradientType=0 );
}
.input.file {
	width: 130px;
	padding: 3px;
	background: #ecf3eb;
	background: -moz-linear-gradient(top,  #ecf3eb 0%, #bcc6bb 100%);
	background: -webkit-linear-gradient(top,  #ecf3eb 0%,#bcc6bb 100%);
	background: linear-gradient(to bottom,  #ecf3eb 0%,#bcc6bb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf3eb', endColorstr='#bcc6bb',GradientType=0 );
	vertical-align: middle;
	border-radius: 4px;
	overflow: hidden;
}
.reception_wrp input[type="file"] {
	display: none !important;
}
.input .type_file {
	display: block;
	width: 100%;
	height: 22px;
	color: #000;
	font-size: .95rem;
	text-align: center;
	text-decoration: none;
	line-height: 22px;
	background: #eaeaea;
	border: 1px solid #a3a5a2;
	border-radius: 2px;
	outline: 0;
}

/** /inputs **/

/** select **/

.select {
	padding: 2px;
	font-weight: 600;
	background: #a9aea7;
	background: -moz-linear-gradient(top,  #a9aea7 0%, #c0c8bd 50%, #c8cfc7 100%);
	background: -webkit-linear-gradient(top,  #a9aea7 0%,#c0c8bd 50%,#c8cfc7 100%);
	background: linear-gradient(to bottom,  #a9aea7 0%,#c0c8bd 50%,#c8cfc7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9aea7', endColorstr='#c8cfc7',GradientType=0 );

	border-radius: 8px;
}

.button {
	display: inline-block;
	height: 36px;
	padding: 0 15px;
	color: #fff;
	font-size: 1rem;
	text-transform: uppercase;
	/*text-shadow: 1px 1px 0 rgba(0,0,0,0.5);*/
	background: #152169;
	background: -moz-linear-gradient(to bottom, #79abf5 0%,#3c3ce8 24%,#27389a 47%,#2e29a5 50%,#3246bf 100%);
	background: -webkit-linear-gradient(to bottom, #79abf5 0%,#3c3ce8 24%,#27389a 47%,#2e29a5 50%,#3246bf 100%);
	background: linear-gradient(to bottom, #79abf5 0%,#3c3ce8 24%,#27389a 47%,#2e29a5 50%,#3246bf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#235e1a', endColorstr='#245c1b',GradientType=0 );
	border-radius: 8px;
	border: 0;
}

.reception_wrp {
	position: relative;
	max-width: 750px;
	margin-top: 20px;
	font-family: 'helios_c';
	color: #000;
	z-index: 2;
}
.reception_wrp::after {
	content: '';
	position: absolute;
	top: 25px;
	right: 12px;
	display: block;
	width: 15px;
	height: 415px;
	z-index: -1;
	/*box-shadow: 10px 0 30px rgba(0,0,0,.4);*/

	transform: rotate(3deg);
}
.reception_wrp .item {
	padding: 7px 25px;
	border-bottom: 1px solid #fff;
}
.reception_wrp .item:nth-of-type(odd) {
	background:
			rgba(79, 162, 234, 0.18);
}
.reception_wrp .item:nth-of-type(even) {
	background:
			rgba(129, 186, 226, 0.13);
}
.reception_wrp .item .label,
.reception_wrp .item .value {
	display: inline-block;
	font-size: .9em;
	vertical-align: top;
}
.reception_wrp .item span.val , div.val{
	color: inherit;
	font-size: inherit;
	float: left;
}
.reception_wrp .item .label {
	width: auto;
	padding: 2px 10px 5px 0;
	text-align: right;
}
.reception_wrp .item .value {
	width: 415px;
}
.reception_wrp .input {
	display: inline-block;
	vertical-align: middle;
}
.reception_wrp .input.type_1 {
	width: 100%;
}
.reception_wrp .input.type_2 {
	width: 120px;
	margin-right: 20px;
}
.reception_wrp .input.type_3 {
	width: 180px;
	margin-right: 5px;
}
.reception_wrp .input.type_4 {
	width: 240px;
}
.reception_wrp .available_files {
	display: inline-block;
	width: calc(100% - 145px);
	margin-left: 10px;
	margin-top: 10px;
	color: #000;
	font-size: .9em;
	vertical-align: middle;
}
.reception_wrp .available_files  .lbl,
.reception_wrp .available_files  .file_list,
.reception_wrp .available_files  .file_list .elm {
	display: inline-block;
	color: inherit;
	font-size: inherit;
	vertical-align: middle;
}
.reception_wrp .available_files  .lbl {
	width: 180px;
}
.reception_wrp .available_files  .file_list {
	width: 420px;
}  
.reception_wrp  .uploaded_files,
.reception_wrp  .uploaded_files .elms,
.reception_wrp  .uploaded_files .file a,
.reception_wrp  .uploaded_files span.file_size {
	display: inline-block;
	vertical-align: middle;
}
.reception_wrp  .uploaded_files {
	width: 100%;
}
.reception_wrp  .uploaded_files  .prompt {
	display: inline-block;
	width: 250px;
	margin-left: 10px;
	vertical-align: top;
}
.reception_wrp  .uploaded_files .elms {
	max-width: calc(100% - 265px);
}
.reception_wrp  .uploaded_files {
	padding: 10px 0;
}
.reception_wrp  .uploaded_files .file {
	width: 100%;
	margin-bottom: 5px;
}
.reception_wrp  .uploaded_files .file:last-of-type {
	margin-bottom: 0;
}
.reception_wrp  .uploaded_files .file a {
	max-width: 240px;
	margin-bottom: 5px;
	font-weight: 600;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.reception_wrp  .captcha {
	display: inline-block;
	width: 180px;
	height: 40px;
	margin-right: 5px;
	border:1px solid #000;
	vertical-align: middle;
}
.reception_wrp  .captcha img {
	max-width: 100%;
	max-height: 40px;
}

/*** background ***/

.blue_bg {
	padding: 10px;
	color: white;

	background: rgb(11,107,154);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBiNmI5YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iIzBhNjI5MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzBhNTc4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iIzBiNGM3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYzQxNmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(to bottom, #79abf5 0%,#3c3ce8 24%,#27389a 47%,#2e29a5 50%,#3246bf 100%);
	background: -webkit-linear-gradient(to bottom, #79abf5 0%,#3c3ce8 24%,#27389a 47%,#2e29a5 50%,#3246bf 100%);
	background: linear-gradient(to bottom, #79abf5 0%,#3c3ce8 24%,#27389a 47%,#2e29a5 50%,#3246bf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b6b9a', endColorstr='#0c416d',GradientType=0 );


	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/*** inputs ***/

.answers_types {
	width: 100%;
    padding-top: 10px;
}
.answers_types .element {
	display: inline-block; 
	vertical-align: top;
}
.answers_types .element:not(:last-child) {
	margin-right: 20px;
}
.answers_types .element input[type="radio"],
.answers_types .element label {
    display: inline-block; 
	vertical-align: middle;
}
.answers_types .element input[type="radio"] {
    margin: 0;
}
.answers_types .element label {
	cursor: pointer;
}

.modal {
	display: none;
	position: relative;
	background: #dee8dd;
	z-index: 999;
	width: 550px;
	padding: 15px;
	border: solid 5px white;
}
.modal .close_wrp {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	vertical-align: top;
	z-index: 10;
	color: black;
}
.modal .close_wrp a {
	display: block;
	height: auto;
	text-decoration: none;
	color: inherit;
	font-weight: 800;
	font-size: 30px;
	line-height: 1;
}

.modal .modal_body {
	position: relative;
}

#input_file1 > .value {
	display: inline;
}

.notetext {
	font-size: 16pt;
}

.prompt  {
	font-size: 10pt;
}

#input_file1 > .value > .input_file {
	display: inline-block;
}

.reception_wrp {
	font-family: arial;
	font-size: 12pt;
}

.prompt span.val {
	width: 400px;
}
