/*=== Список календарных событий===*/
div.calendar_list {width: 514px;}
div.calendar_list_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #a80000;}
a.calendar_list_header_link {text-decoration: none;}
a:hover.calendar_list_header_link {text-decoration: underline;}

div.calendar_list_line { width: 514px; height: 3px; background-color: #a80000;}

div.calendar_list_item {padding: 20px; background-color: #fff;}

div.calendar_list_text { font-size: 14px; font-family: 'Times New Roman', Times, Tahoma; line-height: 19px; color: #565347; }

div.calendar_list_date { font-size: 12px; font-family: Tahoma; line-height: 34px; font-weight: bold; color: #c61010;}

a:link.calendar_list_link, a:visited.calendar_list_link, a:hover.calendar_list_link { font-size: 12px; text-decoration: underline; font-family: Tahoma; font-weight: bold; color: #03409b; display: block;}
a:hover.calendar_list_link { color: #3e7db5;}

div.calendar_list_foto { width: 205px; margin-left: 10px; margin-right: 10px; margin-bottom: 1px; float: left; background-image: url(/images/calendar_foto_border_middle.png); background-position: top left; background-repeat: repeat-y;}
div.calendar_list_foto_top { width: 205px; height: 5px; background-image: url(/images/calendar_foto_border_top.png); background-position: top left; background-repeat: no-repeat;}
img.calendar_list_foto { margin-left: 5px; margin-right: 0px; border: 0px;}
div.calendar_list_foto_bottom { width: 205px; height: 5px; background-image: url(/images/calendar_foto_border_bottom.png); background-position: top left; background-repeat: no-repeat;}


div.calendar_list_point {margin: 16px 20px 0px 20px;  height: 3px; background-image: url(/images/calendar_sep.png); background-position: top left; background-repeat: repeat-x;}
