/*=== Календарь событий ===*/
div.discussion_list {width: 514px;}
div.discussion_list_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #a80000;}
a.discussion_list_header_link {text-decoration: none;}
a:hover.discussion_list_header_link {text-decoration: underline;}
div.discussion_list_line { width: 514px; height: 3px; background-color: #a80000;}

div.documents_list {width: 514px;}
div.documents_list_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #a80000;}
a.documents_list_header_link {text-decoration: none; color: #a80000;}
a:hover.documents_list_header_link {text-decoration: underline;}
div.documents_list_line_header { width: 514px; height: 3px; background-color: #a80000;}

table.base {font-size:12px; font-family: Tahoma; }
div.text{font-size: 11px; margin-top: 2px; line-height: 13px; color: #666666; font-weight: normal;}