/*=== Есть мнение ===*/
div.opinion {width: 224px;}
div.opinion_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #03409b;}
div.opinion_line { width: 224px; height: 3px; background-color: #03409b;}
a.opinion_header_link {text-decoration: none;}
a:hover.opinion_header_link {text-decoration: underline;}

div.opinion_item { width: 224px; padding-bottom: 10px; background-color: #eae9e3; font-size: 11px; font-family: Tahoma; line-height: 14px; color: #545454;}


div.opinion_foto {width: 68px; margin-right: 10px; margin-left: 10px; margin-top: 10px; float: left; background-image: url(/images/opinion_foto_border_middle.png); background-position: top left; background-repeat: repeat-y; display: inline;}

div.opinion_foto_top { width: 68px; height: 4px; background-image: url(/images/opinion_foto_border_top.png); background-position: top left; background-repeat: no-repeat;}

img.opinion_foto { margin-left: 4px; margin-top: 0px; border: 0px;}

div.opinion_foto_bottom { width: 68px; height: 4px; background-image: url(/images/opinion_foto_border_bottom.png); background-position: top left; background-repeat: no-repeat;}


div.opinion_link { width: 130px; float: left; margin-top: 7px;}

a:link.opinion, a:visited.opinion, a:hover.opinion { font-size: 11px; text-decoration: underline; font-family: Tahoma; font-weight: bold; color: #03409b;}
a:hover.opinion { color: #3e7db5;}

div.opinion_sep { width: 224px; height: 2px; background-image: url(/images/opinion_sep.gif); background-repeat: no-repeat;}


