/*=== Документы детально===*/
div.documents_list {width: 514px;}
div.documents_list_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #a80000;}
a.documents_list_header_link {text-decoration: none; color: #a80000;}
a:hover.documents_list_header_link {text-decoration: underline;}
div.documents_list_line_header { width: 514px; height: 3px; background-color: #a80000;}


div.news_text { font-size: 14px; font-family: Tahoma; line-height: 19px; color: #565347; }

div.news_date { font-size: 14px; font-family: Georgia, Tahoma; color: #959595; }

div.news_link{ font-size: 14px; font-family: Georgia, Tahoma; color: #0097ca;}