/*=== На обсуждение ===*/
div.discussion {width: 224px;}
div.discussion_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #a80000;}
div.discussion_line {width: 224px; height: 3px; background-color: #a80000;}
a.discussion_header_link {text-decoration: none; color: #a80000;}
a:hover.discussion_header_link {text-decoration: underline; color: #ff0000; }



div.discussion_item {width: 224px; background-color: #fff; font-size: 11px; font-family: Tahoma; line-height: 14px; color: #545454;}

div.discussion_bullet { width: 32px; float: left;}
img.discussion_bullet { width: 15px; height: 16px; margin-left: 10px; margin-top: 12px; float: left; }

div.discussion_link { width: 190px; float: left; margin-top: 12px; }

a:link.discussion, a:visited.discussion, a:hover.discussion { font-size: 11px; text-decoration: underline; font-family: Tahoma; font-weight: bold; color: #d20000;}
a:hover.discussion { color: #3e7db5;}

div.discussion_end {width: 224px; height: 14px; background-color: #fff; }