/*=== Новости ===*/
div.news {width: 514px;}
div.news_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #03409b;}
a.news_header_link {text-decoration: none;}
a:hover.news_header_link {text-decoration: underline;}
div.news_line { width: 514px; height: 3px; background-color: #03409b;}

div.news_item {padding: 20px; background-color: #fff;}

div.news_text { font-size: 14px; font-family: 'Times New Roman', Times, Tahoma; line-height: 19px; color: #565347; }

div.news_date { font-size: 14px; font-family: Georgia, Tahoma; color: #959595; }

a:link.news_link, a:visited.news_link, a:hover.news_link { font-size: 14px; font-family: Georgia, Tahoma; text-decoration: underline; color: #0097ca; display: block;}
a:hover.news_link { color: #8c8b88;}

div.news_foto { width: 228px; margin-right: 22px; margin-bottom: 1px; float: left; background-image: url(/images/news_foto_border_middle.png); background-position: top left; background-repeat: repeat-y; display: inline;}
div.news_foto_top { width: 228px; height: 9px; background-image: url(/images/news_foto_border_top.png); background-position: top left; background-repeat: no-repeat;}
img.news_foto { margin-left: 9px; margin-right: 9px; border: 0px;}
div.news_foto_bottom { width: 228px; height: 9px; background-image: url(/images/news_foto_border_bottom.png); background-position: top left; background-repeat: no-repeat;}

div.news_section { font-size: 14px; font-family: Georgia, Tahoma; color: #dd7600;}
a:link.news_section, a:visited.news_section, a:hover.news_section { color: #dd7600;}
a:hover.news_section { color: #a80000;}

div.news_point {width: 514px; height: 1px; background-image: url(/images/news_point.gif); background-position: top left; background-repeat: repeat-x;}

div.news_all {padding-right: 10px; height: 40px; font-size: 18px; line-height: 33px; font-family: Tahoma; font-weight: bold; color: #a80000; background-color: #eae9e3;}
a:link.news_all, a:visited.news_all, a:hover.news_all{color: #a80000; font-size: 12px;}
a:hover.news_all { color: #ff0000;}