/*=== Задать вопрос ===*/
div.question {width: 514px;}
div.question_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #8c8b88;}
a.question_header_link {text-decoration: none; color: #8c8b88;}
a:hover.question_header_link {text-decoration: underline;}
div.question_line { width: 514px; height: 3px; background-color: #8c8b88;}

