/*=== Мнения===*/
div.opinion_detail {width: 514px;}
div.opinion_detail_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #03409b;}
a.opinion_detail_header_link {color: #03409b; text-decoration: none;}
a:hover.opinion_detail_header_link {text-decoration: underline;}

div.opinion_detail_line { width: 514px; height: 3px; background-color: #03409b;}

div.opinion_detail_item {padding: 20px; background-color: #fff;}

div.opinion_detail_text { font-size: 14px; font-family: 'Times New Roman', Times, Tahoma; line-height: 19px; color: #565347; }

div.opinion_detail_date { font-size: 12px; font-family: Tahoma; line-height: 34px; font-weight: bold; color: #c61010;}

div.opinion_detail_text_header { font-size: 12px; font-family: Tahoma; font-weight: bold; color: #03409b; display: block;}

div.opinion_detail_foto { margin-right: 15px; margin-bottom: 1px; float: left; display: inline;}

img.opinion_detail_foto { margin-left: 9px; margin-right: 9px; border: 0px;}


div.opinion_detail_section { font-size: 14px; font-family: Georgia, Tahoma; color: #dd7600;}
a:link.opinion_detail_section, a:visited.opinion_detail_section, a:hover.opinion_detail_section { color: #dd7600;}
a:hover.opinion_detail_section { color: #dd7600;}


