/*=== Новости ===*/
div.news {width: 514px;}
div.news_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #03409b;}
a.news_header_link {text-decoration: none;}
a:hover.news_header_link {text-decoration: underline;}
div.news_line { width: 514px; height: 3px; background-color: #03409b;}

div.news_item {padding: 20px; background-color: #fff;}

div.news_text { font-size: 14px; font-family: 'Times New Roman', Times, Tahoma; line-height: 19px; color: #565347; }

div.news_date { font-size: 14px; font-family: Georgia, Tahoma; color: #959595; }

div.news_link{ font-size: 14px; font-family: Georgia, Tahoma; color: #0097ca;}


div.news_foto { width: 228px; margin-right: 22px; margin-bottom: 1px; float: left; background-image: url(/images/news_foto_border_middle.png); background-position: top left; background-repeat: repeat-y; display: inline;}
div.news_foto_top { width: 228px; height: 9px; background-image: url(/images/news_foto_border_top.png); background-position: top left; background-repeat: no-repeat;}
img.news_foto { margin-left: 9px; margin-right: 9px; border: 0px;}
div.news_foto_bottom { width: 228px; height: 9px; background-image: url(/images/news_foto_border_bottom.png); background-position: top left; background-repeat: no-repeat;}

div.news_section { font-size: 14px; font-family: Georgia, Tahoma; color: #dd7600;}
a:link.news_section, a:visited.news_section, a:hover.news_section { color: #dd7600;}
a:hover.news_section { color: #dd7600;}


