/*=== Документы ===*/
div.documents {width: 224px;  float: right;}
div.documents_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #03409b;}
div.documents_line {width: 224px; height: 3px; background-color: #03409b;}
a.documents_header_link {text-decoration: none;}
a:hover.documents_header_link {text-decoration: underline;}


div.documents_item {width: 224px; background-color: #fff; font-family: Tahoma; line-height: 14px; color: #545454;}

div.documents_bullet { width: 32px; float: left;}
img.documents_bullet { width: 11px; height: 13px; margin-left: 16px; margin-top: 16px; float: left; }

div.documents_link { width: 170px; float: left; margin-top: 12px; margin-left: 10px;}

a:link.documents, a:visited.documents, a:hover.documents { font-size: 12px; text-decoration: underline; font-family: Tahoma; color: #03409b; line-height: 18px;}
a:hover.documents { color: #3e7db5;}

div.documents_end {height: 20px; background-color: #fff;}
