/*=== Деятельность ===*/
div.activity {width: 224px;}
div.activity_header {margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #03409b;}
div.activity_line {width: 224px; height: 3px; background-color: #03409b;}

div.activity_item {width: 224px; background-image: url(/images/activity_shadow.gif); background-position: top left; background-repeat: repeat-x; background-color: #fff;}

div.activity_bullet { width: 32px; float: left;}
img.activity_bullet { width: 8px; height: 5px; margin-left: 15px; margin-top: 20px; float: left;}

div.activity_link { width: 190px; float: left; line-height: 20px; margin-top: 12px; margin-bottom: 14px;}

div.activity_point {width: 224px; height: 1px; background-image: url(/images/activity_point.gif); background-position: top left; background-repeat: repeat-x;}

a:link.activity, a:visited.activity, a:hover.activity { font-size: 15px; text-decoration: none; color: #09355c; font-family:  Georgia, Tahoma; font-style: italic; color: #03409b;}
a:hover.activity { color: #3e7db5;}

a:link.activityact, a:visited.activityact, a:hover.activityact { font-size: 15px; text-decoration: none; color: #d90000; font-family: Georgia, Tahoma; font-style: italic;}
a:hover.activityact { color: #3e7db5;}