/*=== Часто задаваемые вопросы ===*/
div.faq {width: 224px;}
div.faq_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #8c8b88;}
div.faq_line { width: 224px; height: 3px; background-color: #8c8b88;}
a.faq_header_link {text-decoration: none; color: #8c8b88;}
a:hover.faq_header_link {text-decoration: underline;}

div.faq_item { width: 224px; padding-bottom: 10px; background-color: #eae9e3; font-size: 11px; font-family: Tahoma; line-height: 14px; color: #41413f;}

div.faq_bullet { width: 40px; height: 40px; float: left;}
img.faq_bullet { width: 24px; height: 32px; margin-top: 10px; margin-left: 9px; float: left;}

div.faq_link { width: 180px; float: left; margin-top: 7px; margin-left: 9px; }

a:link.faq, a:visited.faq, a:hover.faq { font-size: 11px; text-decoration: underline; font-family: Tahoma; color: #41413f;}
a:hover.faq { color: #8c8b88;}
