/*=== Есть мнение ===*/

div.opinion_list{width: 514px;}
div.opinion_list_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #03409b;}
a.opinion_list_header_link {text-decoration: none;}
a:hover.opinion_list_header_link {text-decoration: underline;}
div.opinion_list_line { width: 514px; height: 3px; background-color: #03409b;}

div.opinion_list_item { padding: 20px; background-color: #eae9e3; font-size: 11px; font-family: Tahoma; line-height: 14px; color: #545454;}


div.opinion_list_foto {margin-right: 20px; width: 68px; float: left; background-image: url(/images/opinion_foto_border_middle.png); background-position: top left; background-repeat: repeat-y; display: inline;}

div.opinion_list_foto_top { width: 68px; height: 4px; background-image: url(/images/opinion_foto_border_top.png); background-position: top left; background-repeat: no-repeat;}

img.opinion_list_foto { margin-left: 4px; margin-right: 4px; border: 0px;}

div.opinion_list_foto_bottom { width: 68px; height: 4px; background-image: url(/images/opinion_foto_border_bottom.png); background-position: top left; background-repeat: no-repeat;}


div.opinion_list_link {width: 350px;  float: left;}

a:link.opinion_list, a:visited.opinion_list, a:hover.opinion_list { font-size: 11px; text-decoration: underline; font-family: Tahoma; font-weight: bold; color: #03409b;}
a:hover.opinion_list { color: #3e7db5;}

div.opinion_list_sep { width: 224px; height: 2px; background-repeat: no-repeat;}


