/*=== Интервью детально ===*/
div.interviews {width: 514px;}
div.interviews_header { margin-right: 10px; height: 28px; font-family: Georgia, Tahoma; font-style: italic; font-size: 18px; color: #a80000;}
a.interviews_header_link {text-decoration: none; color: #a80000;}
a:hover.interviews_header_link {text-decoration: underline;}
div.interviews_line { width: 514px; height: 3px; background-color: #a80000;}

div.interviews_item {padding: 20px 20px 5px 20px; background-color: #fff;}

div.interviews_text { font-size: 11px; font-family: Tahoma; line-height: 15px; color: #565347; }

div.interviews_link { font-size: 12px; font-weight: bold; font-family: Tahoma; }

img.interviews_foto { margin-left: 0px; margin-right: 20px; border: 0px; float: left; display: inline;}

